body {
  font-family: "Poppins", sans-serif;
}
.contenform {
  --tw-bg-opacity: 1;
  background-color: #7d9ead;
  position: relative;
  width: 360px;
  /* max-width: 360px; */
  /* width: 100%; */
  height: 640px;
  margin: 0px auto;
  box-sizing: border-box;
  top: 0px;
  padding: 0px 16px 80px;
}

.back {
  position: relative;
  top: 16px;
  left: 50px;
}
/* hr {
  margin-top: 32px;
  color: aqua; */
}

.judul {
  position: absolute;
  top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.garis {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 580px;
  border: 1px solid #666666;
  box-shadow: 2px 3px 6px #000000;
/* .formi {
  position: absolute;
} */
